# Core
requests
urllib3
numpy
sounddevice
SpeechRecognition
pyttsx3
psutil
pywin32
pyperclip
PyAutoGUI
Pillow
mss

# Optional
pycaw
comtypes
qrcode[pil]
pyzbar
pytesseract
jsonpath-ng
edge-tts
win10toast
